@charset "UTF-8";
/* Deitado (landscape - paisagem) */

span.menu-icon {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 90%;
}

span.arrow-back {
    top: 2%;
    left: 5%;
    font-size: 1.2rem;
}

nav.navbar {
    width: 30%;
    margin-left: 70%;
}

div.apresentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

div.apresentation h1,
section#objetive h1 {
    font-size: 1rem;
}

div.apresentation h3 {
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 5%;
}

div.apresentation p {
    font-size: .6rem;
    margin-left: -15%;
    margin-right: 20%;
}

img.img-perfil {
    width: 40%;
}

section#objective {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#objective h1 {
    grid-column: span 2;
}

section#objective h1,
section#objective p {
    margin: 2% 8%;
}

section#technology {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#technology .first-content,
section#technology .fourth-content {
    grid-column: span 2;
}

ul {
    width: 90%;
    margin: 2vh auto;
}

div.container-resume {
    width: 85vw;
    height: 90vh;
}

video {
    width: 50%;
}

/* `sm` aplica-se a dispositivos extra-pequenos (telefones em retrato, menos de 576px) */
@media (min-width: 575.98px) {
    span.menu-icon {
        margin-left: 87%;
        font-size: 1.5rem;
    }

    div.apresentation h1,
    nav.navbar h1,
    section#objective h1 {
        font-size: 1.2rem;
    }
    
    div.apresentation h3,
    span.arrow-back {
        font-size: 1rem;
    }

    div.apresentation p,
    li.navbar-item a,
    section#objective p {
        font-size: 0.9rem;
    }

    span.close p {
        width: 5%;
    }
 }

/* `md` aplica-se a dispositivos pequenos (telefones em paisagem, menos de 768px) */
@media (min-width: 767.98px) {
    span.menu-icon {
        margin-left: 90%;
        font-size: 1.7rem;
    }

    div.apresentation h1,
    nav.navbar h1,
    section#objective h1 {
        font-size: 1.5rem;
    }
    
    div.apresentation h3,
    span.arrow-back {
        font-size: 1.2rem;
    }

    div.apresentation p,
    li.navbar-item a,
    section#objective p {
        font-size: 1rem;
    }

    span.close p {
        width: 4%;
    }

    video,
    .content-container h3 {
        width: 60%;
        margin-bottom: 2%;
    }
 }

/* `lg` aplica-se a dispositivos médios (tablets, menos de 992px) */
@media (min-width: 991.98px) {
    span.menu-icon {
        margin-left: 93%;
        font-size: 2rem;
    }

    div.apresentation h1,
    nav.navbar h1,
    section#objective h1 {
        font-size: 1.8rem;
    }
    
    div.apresentation h3,
    span.arrow-back {
        font-size: 1.4rem;
    }

    div.apresentation p,
    li.navbar-item a,
    section#objective p {
        font-size: 1.3rem;
    }

    span.close p {
        font-size: 1rem;
        width: 3%;
        padding: .8% 0;
    }
 }

/* `xxl` aplica-se a dispositivos extra-grandes (grandes desktops, menos de 1400px) */
@media (min-width: 1399.98px) {
    span.menu-icon {
        margin-left: 93%;
        font-size: 3rem;
    }

    div.apresentation h1,
    nav.navbar h1,
    section#objective h1 {
        font-size: 2.8rem;
    }
    
    div.apresentation h3,
    span.arrow-back {
        font-size: 2.2rem;
    }

    div.apresentation p,
    li.navbar-item a,
    section#objective p {
        font-size: 1.6rem;
    }

    img.img-perfil {
        width: 40%;
    }

    span.close p {
        font-size: 1rem;
        width: 2%;
        padding: .5% 0;
    }

    video,
    .content-container h3 {
        width: 70%;
        margin-bottom: 2%;
    }
 }