@charset "UTF-8";
/* Em pé (portrait - retrato) */

span.menu-icon {
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 83%;
}

span.arrow-back {
    top: 2%;
    left: 5%;
}

nav.navbar {
    width: 55%;
    height: 100dvh;
    margin-left: 45%;
}

div.apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.apresentation h1,
section#objective h1 {
    font-size: 1.8rem;
}

div.apresentation h3 {
    font-size: 1.2rem;
}

div.apresentation p {
    margin: 0 10%;
}

img.img-perfil {
    width: 40%;
}

section#objective {
    display: flex;
    flex-direction: column;
}

section#objective h1,
section#objective p {
    margin: 5% 8%;
}

section#technology {
    display: flex;
    flex-direction: column;
}

ul {
    width: 90%;
    margin: 2vh auto;
}

div.container-resume {
    width: 85vw;
    height: 50vh;
}

video {
    width: 80%;
    height: auto;
    margin-top: 4%;
}

/* `sm` aplica-se a dispositivos extra-pequenos (telefones em retrato, menos de 576px) */
@media (min-width: 575.98px) { 
    img.img-perfil {
        width: 30%;
    }

    div.apresentation p {
        margin: 0 12%;
    }

    span.close p {
        width: 5%;
    }
 }

/* `md` aplica-se a dispositivos pequenos (telefones em paisagem, menos de 768px) */
@media (min-width: 767.98px) {
    span.menu-icon {
        margin-left: 87%;
        font-size: 3rem;
    }

    div.apresentation h1,
    nav.navbar h1,
    section#objective h1,
    section#certificates h1 {
        font-size: 2.5rem;
    }
    
    div.apresentation h3,
    span.arrow-back {
        font-size: 1.8rem;
    }

    div.apresentation p,
    section#objective p,
    section#certificates p {
        font-size: 1.6em;
        margin: 0 18%;
    }

    li.navbar-item a {
        font-size: 1.6em;
    }

    span.close p {
        width: 4%;
    }

    video,
    .content-container h3 {
        width: 70%;
        margin-bottom: 2%;
    }
 }

/* `lg` aplica-se a dispositivos médios (tablets, menos de 992px) */
@media (min-width: 991.98px) {
    span.menu-icon {
        margin-left: 90%;
        font-size: 4rem;
    }

    img.img-perfil {
        width: 25%;
    }

    nav.navbar {
        width: 45%;
        margin-left: 55%;
    }

    div.apresentation h1,
    nav.navbar h1,
    section#objective h1,
    section#certificates h1 {
        font-size: 2.8rem;
    }
    
    div.apresentation h3,
    span.arrow-back {
        font-size: 2rem;
    }

    div.apresentation p,
    li.navbar-item a,
    section#objective p,
    section#certificates p {
        font-size: 1.8em;
    }

    span.close p {
        font-size: 1rem;
        width: 3%;
        padding: .8% 0;
    }

    video,
    .content-container h3 {
        width: 60%;
        margin-bottom: 2%;
    }
 }

/* `xxl` aplica-se a dispositivos extra-grandes (grandes desktops, menos de 1400px) */
@media (min-width: 1399.98px) {
    span.menu-icon {
        margin-left: 93%;
        font-size: 5rem;
    }

    img.img-perfil {
        width: 25%;
    }

    div.apresentation h1,
    nav.navbar h1,
    section#objective h1,
    section#certificates h1 {
        font-size: 3.8rem;
    }
    
    div.apresentation h3,
    span.arrow-back {
        font-size: 3rem;
    }

    div.apresentation p,
    li.navbar-item a,
    section#objective p,
    section#certificates p {
        font-size: 2.8em;
    }

    span.close p {
        font-size: 1rem;
        width: 2%;
        padding: .5% 0;
    }

    video,
    .content-container h3 {
        width: 50%;
        margin-bottom: 2%;
    }
 }