@charset "UTF-8";
/* Todas as midias */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black-df: #000000; 
    --red-df: #e53939;
    --dark-red: #b92424;
    --white-df: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    width: 100vw;
    height: 100dvh;
    background: var(--white-df);
    overflow-x: hidden;
    overflow-y: scroll;
}

span.menu-icon {
    background: var(--red-df);
    padding: 1%;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    color: var(--white-df);
    z-index: 1001;
}

span.arrow-back {
    cursor: pointer;
    position: absolute;
}

nav.navbar {
    background: var(--white-df);
    position: fixed;
    top: 0;
    height: 100dvh;
    z-index: 1001;
    transition: transform .5s;
    transform: translateX(100vw);
    padding-top: 10vh;
    padding-left: 5vh;
    box-shadow: -7px 0px 12px 0px rgba(0,0,0,0.3);
}

nav.navbar.active {
    transition: transform .5s;
    transform: translateX(0);
}

li.navbar-item.disabled a {
    pointer-events: none;
    color: grey;
}

li.navbar-item {
    width: 70%;
    margin-top: 1vh;
}

li.navbar-item {
    list-style: none;
}

li.navbar-item a {
    color: var(--black-df);
    text-decoration: none;
    transition: all.5s;
    border-bottom: 2px solid transparent;
}

li.navbar-item a:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--red-df);
}

div.apresentation {
    width: 100%;
    height: 90%;
    color: var(--white-df);
    text-align: center;
}

div.apresentation h1 {
    margin-top: 5%;
}

div.apresentation h3 {
    font-weight: 500;
    margin-bottom: 5%;
}

div.apresentation p {
    font-weight: 300;
}

img.img-perfil {
    border-radius: 50%;
    border: 4px solid var(--white-df);
    box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.5);
}

section {
    text-align: center;
    width: 100%;
    padding: 10% 0;
}

section#technology {
    background: var(--black-df);
    color: var(--white-df);
    width: 85%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 20px;
}

section#technology .second-content,
section#technology .third-content {
    margin: 4vh 2vw 0;
}

ul.list-tech {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff94;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 1px solid var(--white-df);
}

 ul.list-tech > li {
    width: 25%;
    margin: 2vh 2vw;
    list-style: none;
 }

ul.list-tech > li > img {
    width: 100%;
}

input.btn-open-box-video {
    color: var(--white-df);
    font-size: 1.1em;
    width: 90%;
    padding: 1% 0;
    background: var(--red-df);
    border-radius: 10px;
    border: 1px solid var(--dark-red);
    transition: all .5s;
}

input.btn-open-box-video:hover {
    cursor: pointer;
    background: var(--dark-red);
}

div.wrapper-resume {
    z-index: 1002;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

div.container-resume {
    color: var(--black-df);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border-radius: 10px;
    background: var(--white-df);
}

span.close {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

span.close p {
    position: relative;
    color: var(--white-df);
    text-align: center;
    font-weight: 600;
    font-size: .8rem;
    width: 7.5%;
    padding: 1% 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: var(--red-df);
}

div.content-container {
    width: 90%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}